os
tensorflow
load_img
img_to_array,
ImageDataGenerator
preprocess_input
decode_predictions
VGG16
cifar10
Flatten 
Dense
Dropout
BatchNormalization
Model
ExponentialDecay
SGD
LabelBinarizer
classification_report
numpy
matplotlib.pyplot
